html {
  height: 100%;
}

body {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.puzzle {
  padding: 15px;
  border-radius: 5px;
}

.grid {
  display: grid;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 80px 80px 80px 80px;
  border: 1px solid;
}

.grid button {
  background-color: #cfcfcf;
  color: #003333;
  font-size: 24px;
  font-weight: bold;
  border: 1px solid #550000;
  outline: none;
  cursor: pointer;
}
